<footer>
  <p>&copy; 2024 Your Name. All rights reserved.</p>
  <ul>
    <li>
      <a href="https://github.com/sometimesiwearhats" target="_blank">
        <img src="/images/GitHub-logo.png" alt="GitHub" width="80"
      /></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/christopher-rosati-white-174100323/" target="_blank">
        <img src="/images/linkedinlogo.png" alt="LinkedIn" width="80"
      /></a>
    </li>
    <li>
      <a href="mailto:DevRosatiWhite@gmail.com"
        ><img src="/images/gmaillogo.jpg" alt="Email" width="50"
      /></a>
    </li>
  </ul>
</footer>
